* {
	padding:0;
	margin:0;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}
.underConstruction {
	color:navy;
	text-align:center;
}
#bodyCenter {
	position:relative;
	width:850px;
	margin-left:auto;
	margin-right:auto;	
	text-align:center;
	background-color:#C0C0C0;
}
#navigation {
    position:absolute;
	width:850px;
	height:100px;
    top:0px;
	left:0px;
	text-align:center;
	background-color:#808080;
	border-collapse : collapse;
	border:groove;
}
#maincontent {
   	position        : absolute;
	width           : 830px;
    top             : 100px;
	left            : 0px;
	background-color: #C0C0C0;
	text-align      : center;
	padding         : 10px;
	overflow        : auto;
	border-collapse : collapse;
	border          : groove;	
}
#mainTable {
	background-color: silver;
	text-align      : left;
	position        : relative;
	border-collapse : collapse;
}
#mainTable th {
	text-align      : left;
	background-color: #DBDCDA;
	border          : inset 1px #333300;
}
#mainTable td {
	border  : inset 1px #0000FF;
	padding : 5px;
}
#menu {
	position:relative;
	width:auto;
	margin-left:auto;
	margin-right:auto;
	top:50px;
	height:auto;
}
.dataTable table {
	border:inset green 6px;
	background-color:#CCCCCC;
	color:black;
    margin-left:auto;
    margin-right:auto;
    border-collapse : collapse;
}
.dataTable td {
	text-align:left;
	border:inset 1px gray;
	padding:5px;
}
.dataTable th {
	text-align:left;
	background-color:blue;
	border:inset 1px gray;
	color:white;
}
.error {
	color: navy;
	font-weight: bold;	
}
.msg {
	color: navy;
	font-weight:bold;	
}
