@CHARSET "ISO-8859-1";
@import url("all.css");
@import url("idStyles.css");
.dataTable table {
	border:inset green 6px;
	background-color:#CCCCCC;
	color:black;
    margin-left:auto;
    margin-right:auto;
    border-collapse : collapse;
}
.dataTable td {
	border:inset 1px gray;
	padding:5px;
}
.dataTable th {
	text-align:left;
	background-color:blue;
	border:inset 1px gray;
	color:white;
}
.error {
	color: navy;
	font-weight: bold;	
}
